.navbar{
    background-color: #71C9CE;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}

.navbar button{
    list-style: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #393E46;
    color: #E3FDFD;
    cursor: pointer;

}