.game_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game_body > div {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

.map_image{
    border-color: #000000;
    border-style: solid;
    border-width: 10px;

}